<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout2 :: head(title=~{::title},links=~{})">
<title>Forgot Password</title>
</head>
<body th:include="layout2 :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					
				</ul>
			</div>
		</nav>
		<script th:inline="javascript" >
		/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
		/*<![CDATA[*/
			
		var app = angular.module('myApp', []);
		app
				.controller(
						'sendEmailController',
						function($scope, $http, $q) {
							
					        $scope.username = "";
					        
							//submit info for email to be sent
							$scope.submit = function() {
								
								$scope.emailSent = false;
								$scope.noEmail = false;
								$scope.noUser = false;
								$scope.pleaseWait = true;
								//send email
								$http({
										method : 'POST',
										url : '/iTrust2/passwordReset/' + $scope.username,
										data : $scope.username
									}).then(
										function(response) {
											
											$scope.emailSent = true;
											$scope.pleaseWait = false;
											
										}, function(err){
											
											$scope.pleaseWait = false;
											if( err.data == 'No email found for username'){
												$scope.noEmail = true;
											} else {
												$scope.noUser = true;
											}
										
									});
								
							}
							
							
							
						});				
		/*]]>*/
		</script>
		
		<div ng-app="myApp" ng-controller="sendEmailController">
			<form>
				
				<label>Username: </label><input type="text" ng-model="username"></input><br>
				<input type="submit" value="Send Email" ng-click="submit()" />
			</form>
			<div ng-show="noEmail" class="message">No email on file for this user.</div>
			<div ng-show="noUser" class="message">No user on file for this username.</div>
			<div ng-show="emailSent" class="message">Email sent with new password.</div>
			<div ng-show="pleaseWait" >Please wait...</div>
		</div>
	</div>
</body>
</html>