<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Edit Password</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">


	<div th:fragment="content">
		<h1>Edit Password</h1>
		<form action="#" th:action="@{/admin/editPassword}"
			th:object="${UserForm}" method="post">
			<input type="hidden" th:field="*{username}"></input>
			<label>New password: </label><input type="password" th:field="*{password}" class="password"></input><br>
			<p th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">Passwords do not match</p>
			<label>Password (again): </label><input type="password" th:field="*{password2}" class="passwordAgain"></input><br>
			<p th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">Passwords do not match</p>
						
			<input type="hidden" th:field="*{role}"></input>
			<input type="hidden" th:field="*{enabled}"></input>
			<button class="btn">Submit</button>
		</form>
	</div>
</body>
</html>