<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout-new :: head(title=~{::title},links=~{})">
  <title>Document Office Visit</title>
</head>

<body th:include="layout-new :: body" th:with="content=~{::content}">
  <div th:fragment="content">
    <script src="/iTrust2/resources/js/prescriptionObject.js"></script>
    <script src="/iTrust2/resources/js/addPrescriptionController.js"></script>

    <div class="container-fluid" style="height:80vh;overflow-y:scroll;">
      <div class="container" ng-app="myApp" ng-controller="addPrescriptionCtrl as ctrl">

        <div class="row">
          <!-- Prescription -->
          <section class="col-6">
            <h2>Add a Prescription</h2>
            <div class="form-group">
              <label>Patient:</label>
              <select class="form-control" name="patient" ng-model="ctrl.prescription.patient.selected" ng-options="opt as opt.self.username for opt in ctrl.prescription.patient.options"
                ng-change="ctrl.prescription.patient.verify()">
              </select>
            </div>
            <div class="form-group">
              <label>NDC Code:</label>
              <select class="form-control" name="ndcCode" ng-model="ctrl.prescription.ndc.selected" ng-options="opt as opt.label for opt in ctrl.prescription.ndc.options"
                ng-change="ctrl.prescription.ndc.verify()">
              </select>
            </div>
            <div class="form-group">
              <label>Start Date:</label>
              <input type="text" class="form-control" name="prescStart" autocomplete="off" ng-model="ctrl.prescription.startDate.value"
                ng-blur="ctrl.prescription.startDate.verify()" />
              <div class="text-danger" ng-show="ctrl.prescription.startDate.invalid">{{ctrl.prescription.startDate.errorMessage}}</div>
            </div>
            <div class="form-group">
              <label>End Date:</label>
              <input type="text" class="form-control" name="prescEnd" autocomplete="off" ng-model="ctrl.prescription.endDate.value" ng-blur="ctrl.prescription.endDate.verify()"
              />
              <div class="text-danger" ng-show="ctrl.prescription.endDate.invalid">{{ctrl.prescription.endDate.errorMessage}}</div>
              <div class="text-danger" ng-show="ctrl.prescription.dateRange.invalid">{{ctrl.prescription.dateRange.errorMessage}}</div>
            </div>
            <div class="form-group">
              <label>Dosage:</label>
              <div class="input-group">
                <input type="text" class="form-control" name="dosage" autocomplete="off" ng-model="ctrl.prescription.dosage.value" ng-blur="ctrl.prescription.dosage.verify()"
                />
                <span class="input-group-addon">mg</span>
              </div>
              <div class="text-danger" ng-show="ctrl.prescription.dosage.invalid">{{ctrl.prescription.dosage.errorMessage}}</div>
            </div>
            <div class="form-group">
              <label>Number of Renewals:</label>
              <input type="text" class="form-control" name="renewals" autocomplete="off" ng-model="ctrl.prescription.renewals.value" ng-blur="ctrl.prescription.renewals.verify()"
              />
              <div class="text-danger" ng-show="ctrl.prescription.renewals.invalid">{{ctrl.prescription.renewals.errorMessage}}</div>
            </div>
            <div name="messages">
              <div class="text-success" name="success" ng-show="message.length > 0">{{message}}</div>
              <div class="text-danger" name="errorMsg" ng-show="errorMsg.length > 0">{{errorMsg}}</div>
            </div>
            <button class="btn btn-primary" ng-click="ctrl.submit()" name="submit">Add Prescription</button>

          </section>


        </div>

      </div>

    </div>


  </div>

</body>

</html>